<div id= "post-header">
  <span id="post-head"><%=@post.title %> </span>| <%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Delete', post_path(@post), :data => {:confirm => "Are you sure?", :method => "delete"}%>
</div>

<br>
<br>
<%= @post.body %>

<br>
<br>

<h3>Tags: </h3>
<ul>
  <% @post.tags.each do |tag| %>
    <li><b><em><%= link_to tag.name, tag_path(tag) %></b></em> | <%= link_to 'Remove Tag', post_tag_path(@post, tag), :data => {:confirm => "Are you sure?", :method => "delete"} %></li>
    <% end %>

</ul>

<h4>Choose from existing tags:</h4>
<%= collection_select(:post, :id, Tag.all, :id, :name, :prompt => true) %>
| <%= link_to "Add tag", tag_post_path(@post, @tag) %>
<h3>OR:</h3>
<h4><%= link_to "Add a New Tag", new_post_tag_path(@post) %></h4>
