<!DOCTYPE html>
<html>
  <head>
    <title>KGarryBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One|Varela+Round' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
    <body>
      <div class="container">
        <div class="jumbotron">
          <center><h1>K. Garry's Blog</h1></center>
        </div>

        <%= yield %>


      </div>
    </body>
      <div class="footer">
        <hr>
        <center><%= link_to "Home", posts_path %></center>
      </div>
</html>
